@model IEnumerable<Sherlock.Models.Comments>

@foreach (var item in Model)
{
    <div class="commented">
        <p class="readme">@item.Body</p>
        <p class="commtext">Report by @item.User.Email <span class="pull-right"> @item.DateAdded</span></p>
    </div>
}
