
<div id="map"></div>

<button onclick="initMap();">map load</button>

<p> <button onclick="geoMap();"> Geolocation </button> </p>


<a href="#">content</a>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>

@*Temporary button*@
<button onclick="success(position);">Where am I?</button>
<p>position.coords.longitude</p>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb35GFpToNtidA7VfBEZS1vOEgiIxJ2vI&callback=initMap">
</script>