<div class="panel panel-default">
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="https://avatars0.githubusercontent.com/u/25624307?v=3&s=400#" style="width: 150px;">
            </div>
            <div class="media-body">
                <h1 class="media-heading">Pranay</h1>
                <p>Tomorrow I’ll be starting the Iron Yard boot camp for the .NET class. I’m very excited to start this new chapter in my life and I hope to come out of it with some valuable information. Prior to this, I haven’t had a lot of coding experience. I have practiced some HTML and CSS from dash.com. I have also worked a little bit from a Javascript book to become a bit more familiar with the programming syntax. The language I’ve spent the most time on is SQL and PL/SQL, for about a week. So far I feel pretty comfortable with the material and I’m read to start learning something new!</p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="https://mozesjourney.files.wordpress.com/2016/09/img_8373.jpg" style="width: 150px;">
            </div>
            <div class="media-body">
                <h1 class="media-heading">Moises</h1>
                <p>Tomorrow I’ll be starting the Iron Yard boot camp for the .NET class. I’m very excited to start this new chapter in my life and I hope to come out of it with some valuable information. Prior to this, I haven’t had a lot of coding experience. I have practiced some HTML and CSS from dash.com. I have also worked a little bit from a Javascript book to become a bit more familiar with the programming syntax. The language I’ve spent the most time on is SQL and PL/SQL, for about a week. So far I feel pretty comfortable with the material and I’m read to start learning something new!</p>
            </div>
        </div>
    </div>
</div>